<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air India</title>
    <link rel="stylesheet" type="text/css" href="style8.css">
</head>
<body>
    <div class="promo-banner">
        <img src="/img/ai.png" alt="Air India Express Banner" width="100%" height="500">
    </div>
    <div class="container">
        <h1>LIVE NOW: Sale by Air India </h1>
        <p>Book Air India Express domestic flights with fares starting @ ₹1,199*</p>
        <div class="booking-info">
            <p><strong>Booking validity:</strong> till 3 Jun 2024.</p>
            <p><strong>Travel validity:</strong> till 30 Sep 2024.</p>
        </div>
       
        <div class="terms-conditions">
            <h2>Conditions in case of cancellation:</h2>
            <ul>
                <li>In case of full cancellation, the offer stands void, and the customer will not be eligible for discount.</li>
                <li>If the customer cancels the travel service purchase after the discount is credited, SkyLink Airways will deduct the discount amount from the refund and cancellation charges shall apply.</li>
                <li>In case of partial cancellation, the offer stands void if the revised booking amount is not eligible for discount. If the revised booking amount is still eligible for the discount, then it will be appropriately reduced basis the booking amount.</li>
            </ul>
            <h2>Terms & Conditions:</h2>
           <ul>
                <li>The user agreement and privacy policy of SkyLink Airways shall apply.</li>
                <li>Customers, who are travel agents by occupation are barred from making bookings for their customers and SkyLink Airways reserves the right to deny the offer or cancel the booking.</li>
                <li>SkyLink Airways shall not refund the booking amount in such cases.</li>
                <li>This offer cannot be clubbed with any other offer of SkyLink Airways.</li>
                <li>SkyLink Airways reserves the right, at any time, without prior notice and liability and without assigning any reason whatsoever, to add/alter/modify/change or vary all of these terms and conditions or to replace, wholly or in part, this offer by another offer, whether similar to this offer or not, or to extend or withdraw it altogether.</li>
                <li>For any card related claims, the customer shall approach the relevant bank and SkyLink Airways shall not entertain any such claims.</li>
                <li>SkyLink Airways is the sole authority for interpretation of these terms.</li>
                <li>SkyLink Airways shall not be liable for any loss or damage arising due to force majeure event.</li>
                <li>In the event of any misuse or abuse of the offer by the customer or travel agent, SkyLink Airways reserves the right to deny the offer or cancel the booking.</li>
                <li>In no event the entire liability of SkyLink Airways under this offer shall exceed the amount of promotional discount under this offer.</li>
                <li>SkyLink Airways shall not be liable to for any indirect, punitive, special, incidental or consequential damages arising out of or in connection with the offer.</li>
            </ul>
        </div>
        <a th:href="@{/}" class="btn btn-secondary">Back to Home</a>
    </div>
</body>
</html>
