<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International Destinations</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>International Destinations</h1>
        <p>"Explore a world of possibilities with our extensive range of international flight options, connecting you to top destinations across the globe with unparalleled comfort and convenience."</p>
        <div class="services">
            <div class="service-card">
                <h3>South Korea</h3>
                <img src="/img/sk.jpg" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/sk}"><button>Explore</button></a>
                
            </div>
            <div class="service-card">
                <h3>Maharashtra</h3>
               <img src="/img/mh.jpg" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/mh}"><button>Explore</button></a>
                
            </div>
            <div class="service-card">
                <h3>Bali</h3>
                <img src="/img/bali.jpg" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/bali}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>Dubai</h3>
                 <img src="/img/dubai.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/dubai}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>Singapore</h3>
                 <img src="/img/sing.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/singapore}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>Maldives</h3>
                 <img src="/img/maldives.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/maldives}"><button>Explore</button></a>
            </div>
        </div>
    </div>
</body>
</html>
