<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Enter Flight Information</title>
<link rel="stylesheet" type="text/css" href="/style2.css">
</head>
<body>
	<h1>Enter Flight Information</h1>
	<form th:action="@{/saveFlight}" th:object="${flight}" method="post">
		<label for="flightNumber">Flight Number:</label> <input type="text"
			id="flightNumber" th:field="*{flightNumber}" /><br />
			 
			 <label for="source">Source:</label>
<select id="source" th:field="*{source}">
    <option value="">Select Source City</option>
    <option value="City1">Mumbai</option>
    <option value="City2">Delhi</option>
    <option value="City2">Pune</option>
    <option value="City2">Goa</option>
    <option value="City2">Satara</option>
    <!-- Add more options as needed -->
</select><br/>

<label for="destination">Destination:</label>
<select id="destination" th:field="*{destination}">
    <option value="">Select Destination City</option>
    <option value="CityA">South Korea</option>
    <option value="CityB">Japan</option>
     <option value="CityB">Italy</option>
      <option value="CityB">Uk</option>
       <option value="CityB">Russia</option>
    <!-- Add more options as needed -->
</select><br/>
			 
			 
			 
			 <label for="numberOfPassengers">Number of Passengers:</label>
		<input type="number" id="numberOfPassengers"
			th:field="*{numberOfPassengers}" /><br /> <label
			for="departureTime">Departure Time:</label> <input
			type="datetime-local" id="departureTime" th:field="*{departureTime}" /><br />
		<label for="returnTime">Return Time:</label> <input
			type="datetime-local" id="returnTime" th:field="*{returnTime}" /><br />

		<button type="submit">Submit</button>
	</form>
</body>
</html>
