<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight List</title>
        <link rel="stylesheet" href="/CSS/style6.css">
    
</head>
<body>
    <h1>All Flight List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Airplane</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Flight Status</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Economy Seat Fare</th>
                <th>Business Seat Fare</th>
                <th>FirstClass Seat Fare</th>
                <th>Total Seat</th>
                 <th>Booking</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.id}"></td>
                <td th:text="${flight.airplane}"></td>
                <td th:text="${flight.departureAirport}"></td>
                <td th:text="${flight.arrivalAirport}"></td>
                <td th:text="${flight.flightStatus}"></td>
                <td th:text="${flight.departureTime}"></td>
                <td th:text="${flight.arrivalTime}"></td>
                <td th:text="${flight.economyFare}"></td>
                <td th:text="${flight.businessFare}"></td>
                <td th:text="${flight.firstClassFare}"></td>
                <td th:text="${flight.number_of_seats}"></td>
                
                <td>
                <form th:action="@{/flight/book}" method="post">
                <input type="hidden" name="id" th:value="${flight.id}">
                <button type="Submit">Book Tickit</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
