<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Airline Management System</title>
<link rel="stylesheet" href="/style3.css">
</head>
<body>
     <div class="main-content">
        <header>
            <h1>Welcome to Airline Management System</h1>
        </header>
        <section class="dashboard-content">
            <div class="cards">
                <div class="card"><a href="trending.html">
                
                    <h3>Trending today</h3>
                    
                    <!-- Content for Trending today -->
                </div>
                <div class="card"><a href="trending.html">
                    <h3>Most Popular</h3>
                    <!-- Content for Most Popular -->
                </div>
            </div>
           
            </div>
        </section>
    </div>
</body>
</html>