<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Details - Hotel Information</title>
    <link rel="stylesheet" href="style9.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Place to stay</h1>
            <div class="location">MALDIVES</div>
        </header>
        
        <main class="main-content">
            <div class="image-gallery">
                <img src="/img/hotel16.jpg" alt="Hotel Image 1">
                <img src="/img/hotel17.jpg" alt="Hotel Image 2">
                <img src="/img/hotel18.jpg" alt="Hotel Image 3">
            </div>

           <section class="details">
            <h2>$150/night</h2>
            <p>2 beds | 1 bath | 1 bedroom</p>
            <p>4.8 (2.3K Reviews)</p>
            <a href="https://www.agoda.com/en-in/country/maldives.html?site_id=1922866&tag=39c648e8-0c46-4a4b-a1a1-43f79c28bbb7&gad_source=1&device=c&network=g&adid=693466214865&rand=8328604961677745289&expid=&adpos=&aud=kwd-2263948663390&gclid=Cj0KCQjw0_WyBhDMARIsAL1Vz8sPp1sh7MRf0NW8WdYjjd7hXrIjJF4RdLa0FYA5xIX2KGR24cSYUs4aAmpCEALw_wcB&pslc=1"><button>Book Now</button></a>
        </section>

        <section class="about">
            <h3>About this space</h3>
            <p>Experience luxury in this beautiful beachfront bungalow in the Maldives. With 1 king size bed, and private access to the beach, this spot is perfect for a romantic getaway or a relaxing vacation. Located on a private island, it offers unparalleled privacy and tranquility. Enjoy the stunning ocean views and the finest amenities including an infinity pool, spa services, and gourmet dining options.</p>
        </section>

        <section class="space">
            <h3>The space</h3>
            <ul>
                <li>Luxurious bedroom</li>
                <li>1 bathroom</li>
                <li>800 Sq Ft area</li>
                <li>Private beach access</li>
                <li>Infinity pool</li>
                <li>Easy access to water sports</li>
            </ul>
        </section>
        </main>
    </div>
</body>
</html>
