<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Details - Hotel Information</title>
    <link rel="stylesheet" href="style9.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Place to stay</h1>
            <div class="location">MAHARASHTRA</div>
        </header>
        
        <main class="main-content">
            <div class="image-gallery">
                <img src="/img/hotel4.jpg" alt="Hotel Image 1">
                <img src="/img/hotel5.jpg" alt="Hotel Image 2">
                <img src="/img/hotel6.jpg" alt="Hotel Image 3">
            </div>

             <section class="details">
            <h2>$50/night</h2>
            <p>4 beds | 2 baths | 2 bedrooms</p>
            <p>4.7 (2K Reviews)</p>
            <a href="https://www.tripadvisor.in/Hotels-g297648-Maharashtra-Hotels.html"><button>Book Now</button></a>
        </section>

        <section class="about">
            <h3>About this space</h3>
            <p>Experience the vibrant culture and rich history of Maharashtra. This spacious 2-bedroom apartment features 1 king and 1 queen size bed, along with 2 free parking spots. Located in the heart of Mumbai, it’s just a short walk to major attractions like the Gateway of India, Marine Drive, and the Chhatrapati Shivaji Maharaj Terminus. Surrounded by trendy restaurants, shops, and vibrant nightlife, this apartment offers the perfect blend of comfort and convenience.</p>
        </section>

        <section class="space">
            <h3>The space</h3>
            <ul>
                <li>Cozy bedrooms</li>
                <li>2 bathrooms</li>
                <li>1800 Sq Ft area</li>
                <li>Rooftop Garden</li>
                <li>Central Location</li>
            </ul>
        </section>
        </main>
    </div>
</body>
</html>
