<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" type="text/css" href="style7.css">
</head>
<body>
    <div class="container">
        <h1>Our Services</h1>
        <p>"SkyLink Airways offers seamless air travel with a focus on safety, comfort, and exceptional service, connecting you to your destination with convenience and reliability."</p>
        <div class="services">
            <div class="service-card">
                <h3>Air India</h3>
                <img src="/img/Air_India.png" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/airindia}"><button>Explore</button></a>
                
            </div>
            <div class="service-card">
                <h3>Air India Express</h3>
               <img src="/img/Air_India_Express.jpg" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/express}"><button>Explore</button></a>
                
            </div>
            <div class="service-card">
                <h3>Akasa Air</h3>
                <img src="/img/Akasa_Air.jpg" alt="A description of the image" width="300" height="200">
                 <a th:href="@{/akasa}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>IndiGo</h3>
                 <img src="/img/IndiGo.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/indigo}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>SpiceJet</h3>
                 <img src="/img/SpiceJet.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/spice}"><button>Explore</button></a>
            </div>
            <div class="service-card">
                <h3>Vistara</h3>
                 <img src="/img/Vistara.jpg" alt="A description of the image" width="300" height="200">
                  <a th:href="@{/vistara}"><button>Explore</button></a>
            </div>
        </div>
    </div>
</body>
</html>
