<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/style4.css">
</head>
<body>
<h1>Passenger Update</h1>
<br>
<br>
<form th:action="@{/flights}" th:object="${flight}" method="post">

<div>
<input type="hidden" th:field="*{id}" name="id">

<label for="flightNumber">Flight Number</label>
<input type="text" placeholder="Enter Flight Number" name="flightNumber" th:field="*{flightNumber}">
<span th:if="${#fields.hasErrors('flightNumber')}" th:errors="*{flightNumber}"></span>
<br>
<br>
<label for="source">Source</label>
<input type="text" placeholder="Enter Source" name="source" th:field="*{source}">
<span th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></span>
<br>
<br>

<label for="destination">Destination</label>
<input type="text" placeholder="Enter Destination" name="destination" th:field="*{destination}">
<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></span>
<br>
<br>

<label for="numberOfPassengers">Number of Passengers</label>
<input type="number" placeholder="Enter Number of Passengers" name="numberOfPassengers" th:field="*{numberOfPassengers}">
<span th:if="${#fields.hasErrors('numberOfPassengers')}" th:errors="*{numberOfPassengers}"></span>
<br>
<br>

<label for="departureTime">Departure Time</label>
<input type="datetime-local" name="departureTime" th:field="*{departureTime}">
<span th:if="${#fields.hasErrors('departureTime')}" th:errors="*{departureTime}"></span>
<br>
<br>

<label for="returnTime">Return Time</label>
<input type="datetime-local" name="returnTime" th:field="*{returnTime}">
<span th:if="${#fields.hasErrors('returnTime')}" th:errors="*{returnTime}"></span>
<br>
<br>

<input type="submit" value="Update Flight">
</form>
</div>
</body>
</html>